.sec1 {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  height: 600px;
}
.sec2 {
  padding-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.divheading {
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
}

.heading {
  font-weight: 900;
}
.div1 {
  /* border: 1px solid black; */
  /* padding-top: 10px; */
  padding-left: 20px;
}
.div2 {
  /* border: 1px solid black; */
  /* padding-top: 10px; */
  padding-left: 10px;
}
.div2ul {
  padding-left: 20px;
  padding-top: 10px;
}
.div3 {
  display: flex;
}
.div4 {
  display: flex;
}
.divimg {
  padding-right: 10px;
}
.hardwareh1 {
  font-weight: 900;
}
.clock {
  color: red;
  width: 14px;
  height: 14px;
}
.servicesul {
  padding-top: 20px;
}
.servicesh1 {
  font-weight: 900;
}
.servicesnaddress {
  /* border: 1px solid black; */
  margin-top: 30px;
}
.div3content {
  /* border: 1px solid black; */
  margin-top: 60px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.lis {
  list-style-type: disc;
}

.googlemaps {
  overflow: hidden;
  padding-bottom: 56.25%;
  /* we are working with 16 / 9 ratio = 0.5625 */
  position: relative;
  height: 0;
}
.googlemaps iframe {
  left: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 899px) {
  .sec1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 49rem;
    height: auto;
  }
  .headingmap {
    margin-left: 2rem;
    max-width: 90%;
    height: auto;
    padding-top: 30px;
  }
  .sec2 {
    width: 100%;
    height: 30rem;
    padding-top: 3rem;
    box-shadow: none;
  }
  .lis {
    list-style-type: none;
  }
  .div2 {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
}

/* @media (min-width: 900px) {

} */
