.sec {
  /* border: 1px solid black; */
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 290px;
  z-index: 2;
  background-color: #ffff00;
}
/* dont touch */
.sec2 {
  display: flex;
  flex-direction: column;
  min-width: 90vw;
  margin-left: 20px;
  /* border: 1px solid black; */
  min-height: 160px;
}
.desksecnav {
  width: 100vw;
  height: auto;
}
.logo {
  display: flex;
  width: 100vw;
  height: auto;
  /* border: 1px solid black; */
  padding-top: 1.4rem;
}
.mediahelp {
  display: none;
}

.socials {
  margin-left: 240px;

  display: flex;
  justify-content: center;
  padding-top: 80px;
  width: 60vw;
  /* border: 1px solid black; */
}
@media only screen and (min-width: 900px) {
  .logomotto {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .sec {
    background-color: #ffff00;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    min-width: 100vw;
    min-height: 6vh;
    margin: 0;
    /* /* border: 1px solid black; * */
  }
  /* .socials {
    margin-right: 7rem;
    min-height: 4rem;
    display: none;
    padding-bottom: 3rem;
    width: 50vw;
    border: 1px solid #000000;
  } */
  .sec2 {
    display: flex;
    min-width: 100vw;
    flex-direction: column;
    min-height: 8vh;
    /* border: 1px solid black; */
    padding-bottom: 6rem;
  }
  .desksecnav {
    display: none;
  }
  .contacts {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .email {
    display: flex;
    flex-direction: column;
  }
  .emailh2 {
    color: #1888ff;
    text-decoration: underline;
  }
  .logo {
    /* border: 1px solid black; */
    width: 20vw;
    height: 20vh;
    display: none;
    margin-top: -2rem;
  }

  .logomobile {
    /* border: 1px solid black; */
    display: fixed;
    width: 18vw;
    height: 15vh;
    margin-top: -2.6rem;
  }
  .logomotto {
    display: flex;
    width: 100vw;
    height: 26vh;
    justify-content: space-around;
    /* border: 1px solid black; */
  }
  .logoimg {
    width: 39vw;
    height: auto;
  }
  .gobackdiv {
    display: none;
  }

  .navsec {
    min-width: 100vw;
    min-height: 70px;
    /* display: none; */
    /* border: 3px solid white; */
    margin-left: 2rem;
  }
}
