@media (min-width: 900px) {
  .foot {
    display: flex;
    width: 100%;
    height: 400px;
    /* background: #020617; */
    color: #020617;
    /* border: 1px solid black; */
    flex-direction: column;
  }
  .footcontent {
    display: flex;
  }

  .secondsec {
    margin-left: 20px;
    padding-bottom: 30px;
  }
  .openhrs {
    margin-bottom: 20px;
  }
  .openings {
    display: flex;
    gap: 150px;
  }
  .secopening {
    margin-left: 400px;
    margin-top: 120px;
  }
  .copyrights {
    border: 1px solid black;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    color: white;
    background-color: #020617;
  }
}

@media (max-width: 899px) {
  .foot {
    min-width: 100vw;
    min-height: 60vh;
    /* border: 1px solid black; */
    gap: 2rem;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    background-color: #020617;
    color: #fff;
  }
  .firstseclogo {
    display: none;
  }
  .servicesul {
    font-size: 0.85rem;
    text-decoration: underline;
  }
  .sectionsecsocial {
    display: none;
  }
  .footerul {
    font-size: 0.85rem;
  }
  .firstsec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .secondsec {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .secondsech1 {
    color: #f46b45;
  }
  .footcontent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 0.4rem;
  }
  .service {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .service h1 {
    color: #f46b45;
  }
  .secopening {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .openings {
    display: flex;
    font-size: 0.85rem;
    gap: 0.9rem;
  }
  .openhrs h2 {
    color: #f46b45;
  }
  .secopening {
    display: flex;
    flex-direction: column;
  }
  .copyrights {
    background-color: #f46b45;
    color: #fff;
    width: 100vw;
    height: 9vh;
    text-align: center;
    padding-top: 1rem;
    margin-top: auto;
  }
}
