.mobilesecnav {
  display: fixed;
  width: 100%;
  height: 8rem;
  padding-top: 4.5rem;
  background-color: brown;
  color: #fff;
}
.secnavcontent {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.div1 {
  display: flex;
  gap: 0.4rem;
}
.div2 {
  display: flex;
  gap: 0.7rem;
}
.clock {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 900px) {
  .mobilesecnav {
    display: none;
  }
}
