.mobilesecnav {
  display: flex;
  width: 100%;
  min-height: 9rem;
  padding-top: 5.4rem;
  background-color: brown;
  color: #fff;
}
.secnavcontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 4rem;
  align-items: center;
}
.spanhours {
  font-weight: 400;
}
.clockicon {
  padding-top: 0.3rem;
}
.div1 {
  display: flex;
  gap: 0.23rem;
}
.div2 {
  display: flex;
  gap: 0.7rem;
}
.clock {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 900px) {
  .mobilesecnav {
    display: none;
  }
}
