.navcontent {
  position: fixed;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.navs {
  max-width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: center;
}
.navul {
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 0.5rem;
  background-color: #020617;
  color: #fff;
  width: 95%;
}
.navhome {
  display: none;
}
.phone {
  display: flex;
  /* border: 1px solid white; */
  width: 20%;
  gap: 0.4rem;
}
@media only screen and (max-width: 899px) {
  .phone {
    display: none;
  }
  .navcontent {
    min-width: 100vw;
    min-height: 4rem;
    position: fixed;
    font-size: 1rem;
    display: none;
    /* box-sizing: border-box; */
    padding-left: 1.5rem;
    /* border: 1px solid black; */
    overflow: hidden;
  }
  .navs {
    min-width: 100vw;
    min-height: 3rem;
    /* margin-left: 5rem; */
    /* border: 1px solid red; */

    /* background-color: blue; */
  }
  .navul li {
    font-size: 0.6rem;
  }
  .navul {
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-radius: 0; */
    padding-top: 0.5rem;
    margin-right: 3rem;
    background-color: #020617;
    color: #fff;
    min-width: 100vw;
    /* min-height: 2rem; */
    border: 1px solid black;
  }
  .navlis {
    display: none;
  }
  .navhome {
    display: inline;
  }
}

@media only screen and (max-width: 400px) {
  .navcontent {
    color: #fff;
  }
}
