.navul {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.sec2 {
  width: 70%;
  color: white;
  height: 200px;
  z-index: 3;
  background-color: black;
  clear: both;
}
.navli {
  text-decoration: underline;
}
.navli:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.sec {
  width: 100%;
  float: left;
  margin-top: -100px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
}
