.sec {
  width: 100%;
  /* border: 1px solid black; */
  min-height: 5rem;
}

.navul {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
}
.navulimg:hover {
  background-color: #fff;
  border-radius: 4px;
  /* width: fit-content; */
  transition: all 0.2s ease-out;
}
