.secondsec {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.thirdsec {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.divrentalh1 {
  font-weight: 900;
  font-size: 30px;
}

.installh2 {
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
}
.divul {
  margin-top: 10px;
}
.cardiscription {
  margin-top: 40px;
}

.detailsdiv {
  margin-top: 20px;
}
.detailspan {
  text-decoration: underline;
}
.divprice {
  margin-top: 20px;
}
.carprice {
  font-weight: 800;
  font-size: 20px;
  text-decoration: underline;
}
.ulidentification {
  font-weight: 800;
  font-size: 20px;
}
.dividentification h3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}

.imgcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 899px) {
  .imgcontainer {
    display: none;
  }
  .divrentalh1 {
    font-weight: 900;
    font-size: 26px;
    padding-top: 1rem;
  }
  .installh2,
  .detailspan {
    color: #f46b45;
  }
  .imgcontain {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 0.5rem;
  }
  .ultrackers,
  .discriptiondiv,
  .detailspanp1 {
    font-size: 0.85rem;
  }

  .dividentification {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.4rem;
    text-decoration: underline;
  }
  .ulidentification {
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
  }

  .divprice {
    display: none;
  }
  .sectcontent {
    margin-top: 3rem;
  }
  .secondsec {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    /* border: 1px solid black; */
  }
  .thirdsec {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 900px) {
  .imgcontain {
    display: none;
  }
}
