.firstsec {
  background-color: #f0f0fb;
}

.entertainmenthead {
  width: 100vw;
  height: 25vh;
  object-fit: cover;
}
.headimg {
  position: relative;
  text-align: center;
  color: #a52a2a;
  width: 100vw;
  height: 20vh;
}
.entertainment {
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0.9rem;

  transform: translate(-50%, -50%);
}
.entertainmentcontent {
  width: 100vw;
  height: auto;
  padding-top: 2rem;
}
.secondsec {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  gap: 0.3rem;
}
.thirdsec {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  gap: 0.3rem;
}
.img {
  width: 30vw;
  height: 39vh;
}
.imgcontainer {
  margin-top: 30px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.divevents {
  margin-top: 30px;
  margin-left: 20px;
}

@media (max-width: 899px) {
  .secondsec {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .imgcontainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .thirdsec {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .img {
    width: 100%;
    height: auto;
  }
}
